<div class="login-conect">
    <div class="col-sm-12 bg">
        <h4> Login Page </h4>
        <mat-card class="login-cointainer">
            <div class="d-flex-center">
                <div class="example-container">
                    <div class="mt-top">
                        <h2 style="color: #4B0082;">
                            Welcome to PCT.
                        </h2>
                        <h2>
                            <img src="assets/images/indigoheader.jpg" />
                        </h2>
                        <h3> Sign in with your organizational account</h3>
                        <button mat-raised-button color="primary" mat-button (click)="login()"
                            style="width: 100px;">Sign In</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>